h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body{
  margin:0px;
  font-family: 'Segoe UI Semilight', 'Segoe UI', Tahoma, Arial !important;
}
#main-content{
  min-height: 400px;
  margin: 20px 0px;
}
img{
  max-width: 100%;
}
.center{text-align: center;}
.right{
  border-left: 1px solid #e4e4e3;
  min-height: 400px !important;
}

header{
  background:#333333 !important;
  min-height: 200px;
  color: white;
  padding: 10px;
  padding-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 4px 10px gray;
}
header .author-information{
  display: block;
  margin:20px 10px;
  
}
header .author-information h1{
  color:white;
  border: 3px solid orange;
  display: inline;
  padding: 10px 70px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 50px;
}
.author-information h3.author-position{
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 30px;
  display: block;
  font-size: 20px;
}
.author-information .information{
  font-size: 12px;
  margin: 20px;
  color: #a8babf;
}
.author-information .information span{
  padding-right: 20px;
  padding-left: 20px;
  margin: 5px 0px;
  display:inline-block;
  border-right: 2px solid #e4e4e3;
}
.author-information .information span:last-child{
  border: none;
}
.author-information .information span i{
  margin-right: 5px;
}

/*BOX ITEM*/

.box-item{
  padding: 5px;
  margin-bottom: 30px;
}
.box-item h2{
  font-size: 2.0rem;
  text-transform: capitalize !important;
  font-weight: normal;
}
.box-item h2.title{
  font-size: 25px;
  color:#615C56;
  font-weight: normal;
  border-bottom: 1px dashed #e4e4e3;
  padding-bottom: 10px;
  margin-bottom: 40px !important;
}
.box-item h2.title i{
  margin-right: 30px;
  color:#ed9128;
}
.box-item .box-item-content{
  background: #f2f2ed;
  padding: 10px;
}
.box-item .row{
  margin-bottom: 5px;
  font-size: 13px;
}
.box-item-avatar{
  text-align: center;
}
.box-item-avatar img{
  width: 180px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #E9F4F7;

  box-shadow: 0 4px 10px #e4e4e3;
}
.box-item-avatar .link{
  margin: 20px 0px;

}
.box-item-avatar .link i{
  padding-right: 20px;
  font-size: 15px;
}
.box-item-avatar .quote{
  font-size: 13px;
  color: gray;
  font-style: italic;
}
.interests{
  margin: 50px 0px;
}
.interest-item{
  text-align: center;
  font-size: 15px;
  color: #748387;
  cursor: pointer;
}
.interest-item:hover{
  color: black;
  transition: all linear 0.5s;
}
.interest-item span{
  display: block;
}
.interest-item i{
  font-size: 20px;
  margin-bottom: 20px;
}

.download{
  text-align: center;
}
.download a{
  border: 1px solid gray;
  border-radius: 0px;
}

/*item-content*/
.item-content{
  margin-bottom: 20px !important;
}
.item-content .item-content-left{
  text-align: center;
  font-weight: bold;
  font-size:15px;
}
.item-content h3{
  margin: 0px;
  padding: 0px;
  font-size:20px;
  text-transform: uppercase;
}
.item-content i{
  color:gray;
}
.skill-circle {
  margin: 30px !important;
  text-align: center;
}
.skill-circle .skill-item span{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}


footer{
  text-align: center;
  margin: 10px 0px;
  margin-top: 50px;
  border-top: 1px solid #e4e4e3;
  padding-top: 20px;
}
