$header-height: 70px;
$content-width: 80%;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
//@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);
$open-sans: 'Open Sans', sans-serif;

.page-inner{
    max-width: $content-width;
}
.book-header{
    display: none;
}
body{
    font-size: 14px !important;
}
.book-summary, .book-body{
    margin-top: $header-height !important;
}
.header{
    height: $header-height;
    background: #24292E;
    padding-top: 10px;
    a{
        color: white !important;
    }
    .navbar{
        background: transparent !important;
        .navbar-brand{
            font-size: 25px;
        }
    }
    .about-link{
        border-color: yellow;
        font-size: 15px;
        &:hover{
            color: black !important;
            background-color: #e4e4e3;
        }
    }
}
.book-summary{
    .gitbook-link{
        display: none !important;
    }
}